<!DOCTYPE html>
<html>
  <head>
    <title>Qubricks - Pushing Real Estate Forward</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link href="https://fonts.googleapis.com/css?family=Montserrat:800&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/a917e2b7d0.js"></script>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
    <%= render partial: 'layouts/flash' %>
    <%= render partial: 'layouts/navbar' %>
    <%= yield(:content) %>
    <%= render partial: 'layouts/footer' %>
  </body>
</html>
