<%= form_for [@site, @flow], html: { class: 'text-left' } do |f| %>
    <div class="form-group">
      <%= f.label :site_id %>
      <%= f.select :site_id, Site.all.collect { |s| [ s.name, s.id ] }, { prompt: '---Select Site---' }, class: 'form-control', required: true %>
    </div>
    <div class='form-group'>
      <%= f.label :name %>
      <%= f.text_field :name, class: 'form-control', placeholder: 'Name', required: true %>
    </div>
    <div class='form-group'>
      <%= f.label :condition %>
      <%= f.text_area :condition_expression, class: 'form-control', placeholder: 'Condition Expression', required: false, value: @flow.display_condition_expression %>
    </div>
    <div class="text-center">
      <% if @flow.id %>
          <%= f.submit 'Update', class: 'btn btn-primary btn-lg' %>
      <% else %>
          <%= f.submit 'Create', class: 'btn btn-primary btn-lg' %>
      <% end %>
    </div>
<% end %>
<br>
<% if @flow.id %>
  <%= form_for @flow, html: { class: 'text-left' } do |f| %>
    <div class="text-center">
      <%= f.submit 'Clone', class: 'btn btn-primary btn-lg', data: { 
        confirm: 'This will create an exact copy of this flow and associate all the steps as well. Proceed?' 
      } %>
    </div>
  <% end %>
<% end %>