<div class="content-body text-center content-body-compressed">
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><%= link_to 'Qubricks Sites', { controller: 'sites', action: 'index' } %></li>
      <li class="breadcrumb-item"><%= link_to @site.name, { controller: 'sites', action: 'edit', id: @site.id } %></li>
      <li class="breadcrumb-item"><%= link_to 'Flows', { controller: 'flows', action: 'index', site_id: @site.id } %></li>
      <li class="breadcrumb-item"><%= link_to @flow.name, { controller: 'flows', action: 'edit', id: @flow.id, site_id: @site.id } %></li>
    </ol>
    <div>
      <%= link_to 'All Steps', { action: 'index', controller: 'steps', flow_id: @flow.id }, { class: 'btn btn-sm btn-info' } %>
    </div>
  </nav>
  <br><hr><br>
  <%= render 'flows/form' %>
</div>