<div class="container page-content">
  <% @sites.each_slice(3) do |sites| %>
    <div class="row">
      <% sites.each do |site| %>
        <% modal_id = "connect-#{site.code}-modal" %>
        <div class="col-sm-4">
          <div class="card raised">
            <div class="card-body">
              <h3 class="card-title">
                <%= image_tag "#{site.domain}.favicon.png", height: '20px', width: '20px', style: 'margin-top: -3px; border-radius: 300px;' %> <%= site.name %>
              </h3>
              <small class="card-subtitle">
                <a href="//<%= site.domain %>" target="_blank" class="text-info"><%= site.domain.gsub('www.', '') %></a>
              </small>
              <p class="card-text">
              </p>
              <a class="btn btn-outline-warning btn-sm btn-round" data-toggle="modal" href="#<%= modal_id %>">
                connect
              </a>
              <%= render partial: 'shared/site_connect_modal', locals: { site: site, modal_id: modal_id } %>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  <% end %>
</div>