<%= form_for @site do |f| %>
    <div class='form-group'>
      <%= f.text_field :name, class: 'form-control', placeholder: 'Name', required: true %>
    </div>
    <div class='form-group'>
      <%= f.text_field :code, class: 'form-control', placeholder: 'Code', required: true %>
    </div>
    <div class='form-group'>
      <%= f.text_field :domain, class: 'form-control', placeholder: 'Domain', required: true %>
    </div>
    <div class='form-group'>
      <%= f.text_area :config, class: 'form-control', placeholder: 'JSON Config', required: true %>
    </div>
    <div class='form-group'>
      <%= f.text_area :datamap, class: 'form-control', placeholder: 'JSON Datamap', required: true %>
    </div>
    <% if @site.id %>
      <%= f.submit 'Update', class: 'btn btn-primary btn-lg' %>
    <% else %>
      <%= f.submit 'Create', class: 'btn btn-primary btn-lg' %>
    <% end %>
<% end %>